.notification {
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  transition: 0.3s ease;
  padding: 4px 0px 0px 0px;
  animation: toast-in-right 0.7s;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  min-width: 300px;
  background-color: white;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
}

.logo {
  background: var(--color-notification);
  height: 22px;
  width: 22px;
  display: grid;
  place-items: center;
  border-radius: 6px;
}

.logo > svg {
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1rem;
  max-width: 250px;
}

.content > h1 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  background: var(--color-notification);
  background: -webkit-linear-gradient(--color-notification);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content > p {
  padding: 0;
  margin: 0;
  background: var(--color-notification);
  background: -webkit-linear-gradient(--color-notification);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  word-break: break-all;
}

.buttons {
  padding: 2px;
}

.buttons > button {
  all: unset;
  opacity: 0.8;
  cursor: pointer;
}

.buttons > button > svg {
  color: rgb(66, 62, 62);
}

.buttons > button:hover {
  scale: 1.1;
}

.lowerProgressbar {
  padding: 4px 0px;
  background: var(--color-notification);
  cursor: pointer;
  display: block;
  width: auto;
}

@keyframes toast-in-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
